<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<style type="text/css">
body {  
background-color: gray;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.navbar{background:#f97300;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}
#speaker_area {
background-color: lightgrey;
background-size: 800px 320px;
background-repeat: no-repeat;
display: flex;
  flex-direction:column;
	 justify-content: center;
     align-items:center;
}
#blank1 {height: 120px}
#word_area {
 height: 120px;
 width: 470px;
 display: flex;
  flex-direction:row;
	 justify-content: center;
     align-items:center;
}
#first_word,  #second_word, #third_word{
  width:150px;
  height: 130px;
  overflow: hidden
}
.result-item {  
  font-size: 104px;
  font-family:標楷體;
  font-weight:bold;
}
#first_word {
  text-align: left
}
#second_word {
  text-align: center
}
#third_word {
  text-align: center
}
#blank2 {height: 120px}
#button_area1 {
 width: 720px;
 display: flex;
  flex-direction:row;
	 justify-content: space-between;
     align-items:start;
}
#button_area2 {
 width: 720px;
 display: flex;
  flex-direction:row;
	 justify-content: space-between;
     align-items:center;
}
#blank3 {height: 20px}
#active_area {
  width: 800px;
  background-color: pink;
}

</style>

  <title>拉霸抽籤及回應結果記錄</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>        
        <outputer></outputer>
        <!-- <inputer></inputer> -->
    </div>
 
    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/api/student">{{home}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/machine">{{often1}}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">{{often2}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/active">{{often3}}</a>
            </li>
          </ul>
          <span class="navbar-text">
            {{statusreport}}
          </span>
        </div>
      </nav>
    </template>
     
    <template id="outputerUI">
      <nav aria-label="...">
        <div id="speaker_area">
          <!-- <div id="blank1"></div> -->
          <div id="word_area">
            <div id="first_word"  >
              <div class="result-txt" id="result1">
                <div class="result-item" >{{word1}}</div>
              </div>   
            </div> 
            <div id="second_word" >
                  <div class="result-txt" id="result2">
                    <div class="result-item" >{{word2}}</div>
                </div>
            </div>
            <div id="third_word">
              <div class="result-txt" id="result3">
                <div class="result-item" >{{word3}}</div>
              </div>
            </div>    
          </div>
          <!-- <div id="blank2"></div> -->
          <div id="button_area">
            <button type="submit" id="digitten" class="btn btn-info" @click=assignten(1)></button>
            <button type="submit" id="digitten" class="btn btn-info" @click=assignten(2)></button>
            <button type="submit" id="digitten" class="btn btn-info" @click=assignten(3)></button>
            <button type="submit" id="digitten" class="btn btn-info" @click=assignten(4)></button>
            <button type="submit" id="digitten" class="btn btn-info" @click=assignten(5)></button>
            <button type="submit" id="digitten" class="btn btn-info" @click=assignten(6)></button>
            <button type="button" id="reset" class="btn btn-light" @click="reset()">歸零</button>
          </div>
          <div id="button_area">
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(1)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(2)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(3)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(4)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(5)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(6)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(7)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(8)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(9)></button>
            <button type="submit" id="digitsingle" class="btn btn-success" @click=assign(0)></button>
          </div>
        </div>
        <div id="active_area">
          <h4>互動情形：</h4>
          <table>          
          <tr>
            <td width="200px"><button type="submit" value="" class="btn btn-dark" @click="record(10)">簡問</button></td>
            <td width="200px"><button type="submit" value="" class="btn btn-secondary" @click="record(11)">長問題</button></td>
              <td width="200px"><button type="submit" value="" class="btn btn-ligth" @click="record(12)">大哉問</button></td>
                <td width="200px"><button type="submit" value="" class="btn btn-warning" @click="record(13)">自由發揮</button></td>
          </tr>
          <tr height="20px"></tr>
          <tr>
            <td><button type="submit" value="" class="btn btn-info" @click="record(14)">簡答</button></td>
            <td><button type="submit" value="" class="btn btn-primary" @click="record(15)">長答</button></td>
              <td><button type="submit" value="" class="btn btn-success" @click="record(16)">答得好</button></td>
                <td><button type="submit" value="" class="btn btn-light" @click="record(17)">其他</button></td>
          </tr>
          </table>
          </div>
        </nav>
    </template>

    <!-- <template id="inputerUI">      
    </template> -->




<!-- Vue CDN-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
Vue.component("bander",{
    props:{},
    data(){
      return {
        brand:"教學輔助工具",
        home:"基本資料管理",
        often1:"拉霸抽籤",
        often2:"討論園地",
        often3:"檢視互動紀錄",
        often4:"統計分析",
        statusreport:'<%- JSON.stringify(statusreport) %>'
      }
    },
    methods:{

    },
    template:"#banderUI"
  });
  Vue.component("inputer",{
    props:{},
    data(){
      return {
        //waterno:""
      }   
    },
    methods:{
      
    },
    mounted(){
    
    },
    template:"#inputerUI"
    });
  Vue.component("outputer",{
    props:{},
    data(){
      return{
        studentlist:JSON.parse(decodeURIComponent('<%=studentlist%>')),
        word1:"7",
        word2:"7",
        word3:"7",
        digitten:0,
        pickwaterno:0
      }      
    },
    computed:{
      studentarray:function(){
        let studentarray=new Array(68);
        for(let i=0;i<68;i++){
          studentarray[i]=new Array(4)
        }
        for(let j=0;j<4;j++){
          studentarray[0][j]=0
        }
        let i=1;
        for(let student of this.studentlist){
          studentarray[i][0]=student.a35water_no;
          studentarray[i][1]=student.a10last_name;
          studentarray[i][2]=student.a13middle_name;
          studentarray[i][3]=student.a151st_name;
          i=i+1
        }
        let temp0,temp1,temp2,temp3;
        for(let i=1;i<68;i++){
          for(let m=0;m<68-i;m++){
            if(studentarray[m][0]>studentarray[m+1][0]){
              temp0=studentarray[m][0];
              temp1=studentarray[m][1];
              temp2=studentarray[m][2];
              temp3=studentarray[m][3];
              studentarray[m][0]=studentarray[m+1][0];
              studentarray[m][1]=studentarray[m+1][1];
              studentarray[m][2]=studentarray[m+1][2];
              studentarray[m][3]=studentarray[m+1][3];
              studentarray[m+1][0]=temp0;
              studentarray[m+1][1]=temp1;
              studentarray[m+1][2]=temp2;
              studentarray[m+1][3]=temp3;
            }
          }
        }
        return studentarray
      }
    },
    methods:{
      assignten:function(ten){
        this.digitten=ten;
        console.log("gotten digitten:"+this.digitten);
      },
      assign:function(digitsingle){
        console.log("digitten:"+this.digitten);
        console.log("digitsingle:"+digitsingle);
        this.pickwaterno=this.digitten*10+digitsingle;
        console.log("pick water_no:"+this.pickwaterno);
        console.log("word1:"+this.studentarray[this.pickwaterno][3]);
        this.word1=this.studentarray[this.pickwaterno][1];
        this.word2=this.studentarray[this.pickwaterno][2];
        this.word3=this.studentarray[this.pickwaterno][3];
        this.digitten=0
        },
      reset:function(){
        this.word1="7",
        this.word2="7",
        this.word3="7",
        this.ditgitsingle=0,
        this.pickwaterno=0
      },
      record:function(activecode){
        let querytext="?code="+activecode;
        let apiurl='/api/active/record/'+this.pickwaterno+querytext;        
        window.location=apiurl;      
    }
    },
    template:"#outputerUI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",
        
        components:{
          "bander":bander,
          "outputer":outputer,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        } 
    })
</script>


  </body>
</html>