<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<style type="text/css">
body {  
background-color: #fff;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.navbar{background:#f97300;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}

</style>

  <title>學生資料清單</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>        
        <outputer></outputer>
        <inputer></inputer>
    </div>
 
    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">{{home}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/machine">{{often1}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/active/forum">{{often2}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/active">{{often3}}</a>
            </li>
          </ul>
          <span class="navbar-text">
            {{statusreport}}
          </span>
        </div>
      </nav>
    </template>
     
    <template id="outputerUI">
      <nav aria-label="...">
        <table>        
          <tr>
          <td>
          <form  action="/api/history/inputpage" method="get" >
          <input type="hidden" name="statusreport" value="單筆手動新增">
          <input type="submit" value="單筆手動新增">
          </form> 
          </td>
          <td>
            <form  action="/api/student/batchinput" method="get" >
           資料主檔名：<input type="text" name="datafile" required>
           <input type="hidden" name="statusreport" value="由批次新增進入本頁">
           <input type="submit" value="批次新增">
           </form>
           </td>
          
          <td>
          （/public目錄下.csv檔）
          </td>
          </tr>    
          </table>
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      <table border="1" class="table table-striped">
          <thead>
          <tr>
              <th>學號</th>
              <th>姓名</th>
              <th>系別</th>                          
              <th>年班</th>
            <!-- <th>特別註記</th> -->
          </tr>
          </thead>
          <tbody id="student_infopages">
            <tr v-for="student of studentlist" :key="student._id">              
                <td>{{student.a05register_no}}</td>
                <td>{{student.a10last_name}}{{student.a13middle_name}}{{student.a151st_name}}</td>
                <td>{{student.a20department}}</td>
                <td>{{student.a25grade}}{{student.a30class}}</td>
              <!-- statusreport="由已擷取資料組清單頁進入本頁"> -->
              
                <td>
                  <input type="submit" value="編輯" @click="editone(student._id)">
                </td>
                <td>
                  <input type="submit" value="刪除" @click="deleteone(student._id)">
                </td>
              </tr>
          </tbody>
      </table>
    </nav>
    </template>

    <template id="inputerUI">

    </template>

<!-- Vue CDN-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
Vue.component("bander",{
    props:{},
    data(){
      return {
        brand:"教學輔助工具",
        home:"基本資料管理",
        often1:"拉霸抽籤",
        often2:"討論園地",
        often3:"檢視互動紀錄",
        often4:"統計分析",
        statusreport:'<%- JSON.stringify(statusreport) %>'
      }
    },
    methods:{

    },
    template:"#banderUI"
  });
  Vue.component("inputer",{
    props:{},
    data(){
      return {
      }   
    },
    methods:{

    },
    template:"#inputerUI"
  });
  Vue.component("outputer",{
    props:{},
    data(){
      return{
        studentlist:JSON.parse(decodeURIComponent('<%=studentlist%>'))
      }      
    },
    methods:{
      editone:function(id){
        let querytext="?statusreport=由學生資料清單頁的編輯按鈕進入本頁";
        let apiurl='/api/student/edit/'+id+querytext;
        window.location=apiurl;
      }, 
      deleteone:function(id){
        let querytext="?statusreport=由學生資料清單頁的刪除按鈕進入本頁";
        let apiurl='/api/student/delete/'+id+querytext;
        window.location=apiurl;
      }
    },
    template:"#outputerUI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",
        components:{

        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        } 
    })
</script>


  </body>
</html>